/* General Styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Heading Styles */

h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 5px solid #949451;
  border-radius: 10px;
  color: #949451;
  background-color: #35393c;
}

h3.popover-header {
  color: black;
}

/* Table Styles */

th,
tr,
td.pop-over {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
  font-weight: bold;
  font-size: x-large;
}

tr {
  font-size: large;
}

/* Button Styles */

button.nav-button,
button.btn.btn-secondary {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 125px;
  border-radius: 12px;
  padding: 10px 5px;
  margin-bottom: 10px;
  background-color: #306bc9;
  color: white;
  border: none;
  font-size: large;
}

button#add-rating {
  margin-right: 50px;
}

button#edit-rating {
  margin-left: 50px;
}

/* Navigation Styles */

div#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Root Styles */

#root {
  background-color: #212529;
}

/* Modal Styles */

div.modal-content {
  background-color: #212529;
}

/* Form Styles */

label,
h5 {
  color: #949451;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input.form-control,
select.form-select,
textarea.form-control {
  background-color: #35393c;
  border-color: white;
  color: white;
}

h5 {
  border: 3px solid #949451;
  border-radius: 10px;
  padding: 5px;
  background-color: #35393c;
}

/* Popover Styles */

div.popover.show.bs-popover-auto {
  background-color: #35393c;
  color: #e0dddd;
}

div.popover-body {
  color: white;
}

/* Rating Styles */

.rating {
  text-align: center;
}

.heads {
  font-size: 21px;
}
