/* General Styles */

:root {
  --main-font: 'Programme';
  --main-font-src-1: url(https://assets.genius.com/fonts/programme_normal.woff2?1707426152) format('woff2');
  --main-font-src-2: url(https://assets.genius.com/fonts/programme_normal.woff?1707426152) format('woff');
  --main-color: #949451;
  --secondary-color: #212529;
  --tertiary-color: #306bc9;
  --white-color: #ffffff;
  --black-color: #000000;
}

@font-face {
  font-family: 'Programme';
  src: url(https://assets.genius.com/fonts/programme_normal.woff2?1707426152) format('woff2'),
       url(https://assets.genius.com/fonts/programme_normal.woff?1707426152) format('woff');
  font-style: normal;
  font-weight: normal;
}

body, code, h1, th, tr, td.pop-over, button.nav-button, button.btn.btn-secondary, label, h5 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  border: 5px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  background-color: var(--secondary-color);
}

h3.popover-header {
  color: var(--black-color);
}

th {
  font-weight: bold;
  font-size: x-large;
}

tr {
  font-size: large;
}

button.nav-button, button.btn.btn-secondary {
  width: 125px;
  border-radius: 12px;
  padding: 10px 5px;
  margin-bottom: 10px;
  background-color: var(--tertiary-color);
  color: var(--white-color);
  border: none;
  font-size: large;
}

button#add-rating {
  margin-right: 50px;
}

button#edit-rating {
  margin-left: 50px;
}

div#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#root {
  background-color: var(--secondary-color);
}

div.modal-content {
  background-color: var(--secondary-color);
}

label, h5 {
  color: var(--main-color);
}

input.form-control, select.form-select, textarea.form-control {
  background-color: var(--secondary-color);
  border-color: var(--white-color);
  color: var(--white-color);
}

h5 {
  border: 3px solid var(--main-color);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--secondary-color);
}

div.popover.show.bs-popover-auto {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

div.popover-body {
  color: var(--white-color);
}

.rating {
  text-align: center;
}

.heads {
  font-size: 21px;
}